body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 150px;
}
#clock{
    font-size: 60px;
    font-weight: bold;
}